---
import Link from "./Link.astro";

const { prevUrl, nextUrl } = Astro.props;
---

<nav aria--label="Blog Pages">
  {
    prevUrl && (
      <Link
        text="Previous"
        href={prevUrl}
        style="primary"
        borderVisible={true}
        isFilled={false}
        icon={{
          name: "tabler:arrow-big-left-line",
          side: "right",
        }}
      />
    )
  }

  {
    nextUrl && (
      <Link
        text="Next"
        href={nextUrl}
        style="primary"
        borderVisible={true}
        isFilled={false}
        icon={{
          name: "tabler:arrow-big-right-line",
          side: "left",
        }}
      />
    )
  }
</nav>

<style>
  nav {
    display: flex;
    justify-content: center;
    gap: 1rem; /* Adjust spacing between links */
  }
</style>
